<div class="well">	
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title"><%=  comment.user.email %></h3>
	  </div>
	  <div class="panel-body">
	    <%= comment.body %>
	  </div>
	  <% if comment_belongs_to_current_user?(comment) %>
	  	<div class="panel-footer">
	  		<%= link_to 'Delete Comment', post_comment_path(comment.post, comment), method: :delete, class: 'btn btn-block btn-danger' %>
	  	</div>
	  <% end %>
	</div>
</div>